[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
"psycopg2" = "*"
dj-database-url = "*"
gunicorn = "*"
stripe = "*"
pillow = "*"
"boto3" = "*"
django-storages = "*"
boto = "*"

[dev-packages]

[requires]
python_version = "3.6"
